<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>LMK - SMS Notifications for the Terminal</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LMK</h1>
        <p>Start a long-running bash command, get a text when it's done</p>

        <p class="view"><a href="https://github.com/LukeWinikates/lmk">View the Project on GitHub <small>LukeWinikates/lmk</small></a></p>


        <ul>
          <li><a href="https://github.com/LukeWinikates/lmk/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/LukeWinikates/lmk/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/LukeWinikates/lmk">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <p><a href="https://codeclimate.com/github/LukeWinikates/lmk"><img src="https://codeclimate.com/github/LukeWinikates/lmk.png" alt="Code Climate"></a>
<a href="https://travis-ci.org/LukeWinikates/lmk"><img src="https://travis-ci.org/LukeWinikates/lmk.png?branch=master" alt="Build Status"></a></p>

<h1>LMK</h1>
 {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/LukeWinikates">LukeWinikates</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
